@import '../../scss/eivr-master';
::ng-deep {
    app-header {
        padding: $default-padding $default-padding*2;
        background-color: $white;
        @include box-shadow($default-unit*2, $default-unit, $default-unit*6, $default-unit/2, rgba($dark, .05), $inset: false);
        @include flexbox();
        @include flex-direction(row);
        @include justify-content(space-between);
        position: fixed;
        top: $null;
        width: $full;
        max-width: calc(#{$full} - #{$default-unit*130});
        transition: all .9s ease-in-out;
        >a {
            @include align-self(center);
            cursor: pointer;
        }
        .secondary-nav {
            @include flexbox();
            @include flex-direction(row);
            @include align-self(center);
            li {
                border-right: thin solid $nutral-light-color;
                padding: $null $default-padding*2.05;
                @include align-self(center);
                &.notification {
                    a {
                        position: relative;
                        span {
                            position: absolute;
                            top: $null;
                            right: $null;
                            width: $default-unit*5;
                            height: $default-unit*5;
                            background-color: $primary-color;
                            border: thin solid $white;
                            @include border-radius($full);
                            display: none;
                        }
                    }
                    &.item-on {
                        a {
                            span {
                                display: block;
                            }
                        }
                    }
                }
                &.user-details {
                    a {
                        span {
                            @include ecs-typo($primary-font-regular, 400, 15px, 37px, $nutral-dark-color);
                        }
                    }
                }
            }
        }
    }
}