<a (click)="toggleMenu()">
    <img src="../../assets/menu-toggler.svg" alt="">
</a>

<ul class="secondary-nav">
    <li class="notification item-on">
        <a href="http://">
            <span></span>
            <img src="../../assets/notification.svg" alt="">
        </a>
    </li>
    <li class="user-details">
        <div ngbDropdown placement="bottom-right" class="d-inline-block">
      <a id="dropdownBasic2" ngbDropdownToggle>
        <span>Start Admin</span>
      </a>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
        <button ngbDropdownItem (click)="signOut()">Sign out</button>
      </div>
    </div>
</ul>