<div class="app-toggle-content">
    <h2>View Toggles</h2>
    <div class="serach-component">
        <div class="eivr-search-box">
            <input type="text" [(ngModel)]="toggleKey" class="search-input">
            <button type="button" class="search-btn" (click)="searchToggle()">Search Toggle</button>
            <button class="btn bg-transparent clear-btn" (click)="claerSearchToggle()"><i class="fa fa-times"></i>Clear</button>
        </div>
        <!-- <button type="button" class="btn btn-primary" (click)="createToggle()">Create Toggle</button> -->
    </div>
    <div class="box-panel" *ngIf="toggles$ | async as toggles; else loadingOrError">
        <ng-container *ngIf="toggles.length; else noItems">
            <table>
                <thead>
                    <tr>
                        <th>
                            Toggle key
                        </th>
                        <th>
                            Toggle value
                        </th>
                        <th>
                            Toggle info
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let toggle of toggles | slice : (currentPage-1) * pageSize : (currentPage-1) * pageSize + pageSize; let i = index">
                        <td>
                            {{toggle.toggleKey}}
                        </td>
                        <td>
                            {{toggle.toggleValue}}
                        </td>
                        <td>
                            <ng-template *ngIf="toggle.toggleInfo != null;else nullValue">
                                {{toggle.toggleInfo}}
                            </ng-template>
                            <ng-template #nullValue>
                                --
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ngb-pagination *ngIf='toggles.length > 10' size="sm" [(page)]="currentPage" [pageSize]="pageSize" [collectionSize]="toggles.length" [maxSize]="5"></ngb-pagination>
        </ng-container>
        <ng-template #noItems>No Items found.!</ng-template>
    </div>
    <ng-template #loadingOrError>
        <div *ngIf="loadingError$ | async; else loading">
            Error loading the list of users. Please try again later.
        </div>
        <ng-template #loading>
            Loading toggles...
        </ng-template>
    </ng-template>
</div>