@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    margin: $null;
}

* {
    font-family: $primary-font-regular;
}

h1 {
    // @include font(arial, bold, 18px, 1.7);
}

body {
    font-size: 1rem;
    // @include device(sm) {
    //     font-size: 1rem;
    // }
}