<div class="app-history-content">
    <h2>View History</h2>
    <form>
        <div class="serach-component">
            <div class="eivr-search-box">
                <p>Choose Date:</p>
                <input class="search-input" placeholder="MM-DD-YYYY" [maxDate]="maxDate" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" [placement]="placement" (ngModelChange)="getPayementsList('custom')">
                <button #buttonEl class="calender" (click)="d.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>

            </div>
        </div>

        <!-- <div class="form-group">
            <div class="input-group">

            </div>
        </div> -->
    </form>
    <div class="box-panel" *ngIf="paymentList$ | async as payments; else loadingOrError">
        <ng-container *ngIf="payments.length; else noItems">
            <table>
                <thead>
                    <tr>
                        <th>
                            Contact Id
                        </th>
                        <th>
                            Amount Int
                        </th>
                        <th>
                            Payment Status
                        </th>
                        <th>
                            Payment Type
                        </th>
                        <th>
                            Phone Number
                        </th>
                        <th>
                            Selected Account
                        </th>
                        <th>
                            TransId
                        </th>
                    </tr>
                </thead>
                <tbody malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                    <tr *ngFor="let payment of payments | slice : (currentPage-1) * pageSize : (currentPage-1) * pageSize + pageSize; let i = index">
                        <td>
                            <a (click)="getUserLog(payment.contactId)">{{payment.contactId}}</a>
                        </td>
                        <td>
                            {{payment.amountInt}}
                        </td>
                        <td>
                            {{payment.paymentstatus}}
                        </td>
                        <td>
                            {{payment.paymentType}}
                        </td>
                        <td>
                            {{payment.phoneNumberInput}}
                        </td>
                        <td>
                            {{payment.selectedAccount}}
                        </td>
                        <td>
                            {{payment.transId}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <ngb-pagination *ngIf='payments.length > 10' size="sm" [(page)]="currentPage" [pageSize]="pageSize" [collectionSize]="payments.length" [maxSize]="5"></ngb-pagination>
        </ng-container>
        <ng-template #noItems>No items found.!</ng-template>
    </div>
    <ng-template #loadingOrError>
        <div *ngIf="loadingError$ | async; else loading">
            Error loading the history. Please try again later.
        </div>
        <ng-template #loading>
            Loading history...
        </ng-template>
    </ng-template>
</div>