<div class="login-page">
    <div class="image-login">
        <div class="img-ratio">
            <div class="img-src" style="background-image:url(../../assets/login_bg14@2x.png)"></div>
        </div>
    </div>
    <div class="login-container">
        <div class="login">
            <h2>SOFLO IVR</h2>
            <p>Welcome back! Please login to your account.</p>
            <form #loginForm="ngForm" (keyup.enter)="login(loginForm.value)">
                <section>
                    <input type="text" name="userName" autofocus required #userName="ngModel" ngModel placeholder="Username">
                    <div class="alert alert-danger" *ngIf="userName.touched && userName.invalid">
                        <div *ngIf="userName.errors.required"> This field cannot be empty</div>
                    </div>
                </section>
                <section>
                    <input type="password" name="userPassword" required #userPassword="ngModel" ngModel placeholder="Password">
                    <div class="alert alert-danger" *ngIf="userPassword.touched && userPassword.invalid">
                        <div *ngIf="userPassword.errors.required"> This field cannot be empty</div>
                    </div>
                </section>
                <div *ngIf="invalidCred">user name or password is not correct</div>
                <a href="#">Forgot Password?</a>
                <input type="button" value="submit" [disabled]="loginForm.invalid" (click)="login(loginForm.value)">
            </form>
        </div>
    </div>
</div>