<div class="app-toggle-content">
    <h2>Campaign Type</h2>
    <div class="serach-component">
        <div class="noti-list-container">
            <ul>
                <li *ngFor="let audioFile of audioFiles" class="audio-files">
                    <span>{{audioFile.name}}</span>
                    <span>{{audioFile.campaignType}}</span>
                    <audio controls>
                        <source [src]="audioFile.url" type="audio/mpeg">
                    </audio>
                </li>
            </ul>
        </div>
    </div>
    <button class="btn btn-success" (click)="createARFile()">Create AR File</button>
</div>
