@import '../scss/eivr-master';
::ng-deep {
    app-root {
        .eivr-baselayout {
            @include flexbox();
            @include flex(1 0 auto);
            @include flex-direction(row);
            @include flex-wrap(wrap);
            @include justify-content(flex-start);
            height: $full;
            // @include align-items(flex-end);
            app-aside {
                @include flex(2 0 auto);
                background-color: $primary-dark-color;
                align-self: stretch;
                height: calc(#{$full} - 80px);
                max-width: $default-unit*130;
                width: $full;
                position: fixed;
                transition: all .9s ease-in-out;
            }
            .content-wrapper {
                @include flex(0 0 auto);
                @include flexbox();
                @include flex-direction(column);
                @include justify-content(flex-start);
                max-width: calc(#{$full} - #{$default-unit*130});
                width: $full;
                margin-left: $default-unit*130;
                transition: all .9s ease-in-out;
                app-header {
                    @include flex(0 0 auto);
                }
                app-message {
                    // display: none;
                    @include flex(1 0 auto);
                    padding: $default-padding*2;
                    margin-top: $default-unit*27.5;
                }
                app-toggle {
                    // display: none;
                    @include flex(1 0 auto);
                    padding: $default-padding*2;
                    margin-top: $default-unit*27.5;
                }
                app-search {
                    // display: none;
                    @include flex(1 0 auto);
                    padding: $default-padding*2;
                    margin-top: $default-unit*27.5;
                }
                app-dashboard {
                    // display: none;
                    @include flex(1 0 auto);
                    padding: $default-padding*2;
                    margin-top: $default-unit*27.5;
                }
            }
            app-footer {
                @include flex(10 0 $full);
            }
            &.menu-hide {
                app-aside {
                    max-width: $default-unit*37.5;
                    transition: all .9s;
                }
                .content-wrapper {
                    max-width: calc(#{$full} - #{$default-unit*37.5});
                    width: $full;
                    margin-left: $default-unit*37.5;
                    transition: all .9s ease-in-out;
                    app-header {
                        max-width: calc(#{$full} - #{$default-unit*37.5});
                        transition: all .9s ease-in-out;
                        // max-width: calc(#{$full} - #{$default-unit*130});
                    }
                }
            }
        }
    }
}