<div [className]="toggleClass ? 'eivr-baselayout' : 'eivr-baselayout menu-hide'" *ngIf="responsiveStatus;else responsiveError">
    <app-aside *ngIf="isAside"></app-aside>
    <div [className]="isLoggedIn ? 'content-wrapper' : 'content-wrapper login-inherits'">
        <app-header *ngIf="isHeader"></app-header>
        <router-outlet></router-outlet>
    </div>
    <!-- <app-footer *ngIf="isFooter"></app-footer> -->

</div>
<ng-template #responsiveError>
    Responsive is not working on this screen size.
</ng-template>