<div class="modal-header">
    <h4 class="modal-title">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
    <div *ngIf="userLogInfo$ | async as userLogInfoArray; else loadingOrError">
        <ng-container *ngIf="userLogInfoArray.length; else noItems">
            <div class="box-panel contactid-search" *ngFor="let userLogInfo of userLogInfoArray">
                <div class="tile">
                    <label>Phone No</label>
                    <h3>{{userLogInfo.phoneNo}}</h3>
                </div>
                <div class="tile">
                    <label>Time Stamp</label>
                    <h3 *ngIf="userLogInfo.timeStamp != null">{{userLogInfo.timeStamp}}</h3>
                    <h3 *ngIf="userLogInfo.timeStamp == null">--</h3>
                </div>
                <div class="tile">
                    <label>Account Found</label>
                    <h3>{{userLogInfo.accountFound}}</h3>
                </div>
                <div class="tile">
                    <label>Error</label>
                    <h3>{{userLogInfo.callError}}</h3>
                </div>
                <div class="tile">
                    <label>Send to CSR</label>
                    <h3>{{userLogInfo.callCSR}}</h3>
                </div>
                <div class="tile">
                    <label>Payment Started</label>
                    <h3>{{userLogInfo.paymentStarted}}</h3>
                </div>
                <div class="tile">
                    <label>Payment Success</label>
                    <h3>{{userLogInfo.paymentSuccess}}</h3>
                </div>
                <div class="tile log">
                    <label>Logs</label>
                    <div class="minhgt">
                        <ul>
                            <li *ngFor="let logs of userLogInfo.logs">{{logs}}</li>
                        </ul>
                        <!-- <p>
                            {{userLogInfo.logs}}
                        </p> -->
                    </div>

                </div>
            </div>
        </ng-container>
        <ng-template #noItems>No items found.!</ng-template>
    </div>
    <ng-template #loadingOrError>
        <div *ngIf="loadingError$ | async; else loading">
            Error loading the list of users. Please try again later.
        </div>
        <ng-template #loading>
            Loading toggles...
        </ng-template>
    </ng-template>
</div>
<!-- <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div> -->