<div class="app-dashboard">
    <h2>Dashboard</h2>
    <div class="chart-grid">
        <div class="value-repro">
            <div class="recived-ivr value-box">
                <div class="value-contetnt">
                    <p>SYSTEM HEALTH</p>
                    <div class="value-text">
                        <h3>Green</h3>
                    </div>
                </div>
                <div class="figure">
                    <img src="../../assets/icons/health-good@2x.png" alt="">
                </div>
            </div>

        </div>
        <div class="value-repro">
            <div class="value-box">
                <div class="value-contetnt">
                    <p>Total Calls</p>
                    <h4>Recived</h4>
                    <div class="value-text">
                        <h3>134 +</h3>
                    </div>
                </div>
                <div class="figure">
                    <img src="../../assets/icons/calls@2x.png" alt="">
                </div>
            </div>

        </div>
        <div class="value-repro">
            <div class="value-box">
                <div class="value-contetnt">
                    <p>TOTAL NUMBER OF</p>
                    <h4>PAYMENTS</h4>
                    <div class="value-text">
                        <h3>134 +</h3>
                    </div>
                </div>
                <div class="figure">
                    <img src="../../assets/icons/cards@2x.png" alt="">
                </div>
            </div>

        </div>
        <div class="value-repro">
            <div class="value-box">
                <div class="value-contetnt">
                    <p>TOTAL PAY</p>
                    <h4>AMOUNT</h4>
                    <div class="value-text">
                        <h3>134 +</h3>
                    </div>
                </div>
                <div class="figure">
                    <img src="../../assets/icons/currency@2x.png" alt="">
                </div>
            </div>

        </div>
    </div>
    <div class="eivr-tabtrigger">
        <ul class="nav nav-tabs">
            <li><a class="active" data-toggle="tab" href="#payments">Payments</a></li>
            <li><a data-toggle="tab" href="#calls">calls</a></li>
        </ul>
        <select name="period-select" id="select-interval" class="day-filter">
            <option value="1">Daily</option>
            <option value="2">Weekly</option>
            <option value="3">Weekly</option>
        </select>
    </div>


    <div class="tab-content">
        <div id="payments" class="tab-pane active">
            <div class="visual-grid">
                <div class="visual-box half-width">
                    <div class="visual-graph ">
                        <h3>No of Payments Processed</h3>
                        <div class="graph-box">
                            <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [groupPadding]="groupPadding" [barPadding]="barPadding">
                            </ngx-charts-bar-vertical-2d>
                        </div>
                        <div class="filter-note">
                            <h5>2020 <b>27JUL</b> - <b>02AUG</b></h5>
                            <ul class="graph-bar-notes">
                                <li class="graph-bar-credit"><span></span>Credit Card</li>
                                <li class="graph-bar-debit"><span></span>Debit Card</li>
                                <li class="graph-bar-echeck"><span></span>Other Payments</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="visual-box half-width">
                    <div class="visual-graph">
                        <h3>Amount of Payments Processed</h3>
                        <div class="graph-box">
                            Tab 1
                        </div>
                    </div>
                </div>
                <div class="visual-box half-width">
                    <div class="visual-graph">
                        <h3>No of Payments Denied/Not Completed</h3>
                        <div class="graph-box">
                            Tab 1
                        </div>
                    </div>
                </div>
                <div class="visual-box half-width">
                    <div class="visual-graph">
                        <h3>Total Number of Text Messages</h3>
                        <div class="graph-box">
                            Tab 1
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="calls" class="tab-pane fade">
            <div class="visual-grid">
                <div class="visual-box half-width">
                    <div class="visual-graph">
                        <h3>TOTAL CALLS RECIVED</h3>
                        <div class="graph-box">
                            <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legendPosition]="legendPosition" [groupPadding]="groupPadding" [barPadding]="barPadding">
                            </ngx-charts-bar-vertical-2d>
                        </div>
                    </div>
                </div>
                <div class="visual-box half-width">
                    <div class="visual-graph">
                        <h3>TOTAL CALLS TRANSFERRED IVR TO CSR</h3>
                        <div class="graph-box">
                            Tab 2
                        </div>
                    </div>
                </div>
                <div class="visual-box one-third-width">
                    <div class="visual-graph">
                        <h3>CALLS COMPLETED</h3>
                        <div class="graph-box">
                            Tab 2
                        </div>
                    </div>
                </div>
                <div class="visual-box one-third-width">
                    <div class="visual-graph">
                        <h3>AVERAGE DURATION OF CALLS</h3>
                        <div class="graph-box">
                            Tab 2
                        </div>
                    </div>
                </div>
                <div class="visual-box one-third-width">
                    <div class="visual-graph">
                        <h3>CALLS TERMINATED BEFORE COMPLETION</h3>
                        <div class="graph-box">
                            Tab 2
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>