<div class="app-dashboard">
    <h2>Dashboard</h2>
    <div class="chart-grid">
        <div class="value-repro">
            <div class="recived-ivr value-box">
                <h3>Calls Received <br><b>by IVR</b></h3>
                <div class="value-text">
                    <h4>134 +</h4>
                </div>
            </div>
            <div class="direct-ivr value-box">
                <h3>Calls Made Directly <br><b>to IVR</b></h3>
                <div class="value-text">
                    <h4>134 +</h4>
                </div>
            </div>
            <div class="transfered-ivr value-box">
                <h3>Calls Transferred <br><b>from CRS</b></h3>
                <div class="value-text">
                    <h4>134 +</h4>
                </div>
            </div>
        </div>
        <div class="value-repro">
            <div class="value-box">
                <h3>Calls Transferred <br><b>from IVR to CRS</b></h3>
                <div class="value-text">
                    <h4>134 +</h4>
                </div>
            </div>
            <div class="value-box">
                <h3>Calls<br> <b>Completed</b></h3>
                <div class="value-text">
                    <h4>134 +</h4>
                </div>
            </div>
        </div>
        <div class="value-repro">
            <div class="value-box">
                <h3><b>Average Duration</b></h3>
                <div class="value-text">
                    <h4>134 +</h4>
                </div>
            </div>
            <div class="value-box">
                <h3>Terminated <br><b>Before Completion</b></h3>
                <div class="value-text">
                    <h4>134 +</h4>
                </div>
            </div>

        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#payments">Payments</a></li>
        <li><a data-toggle="tab" href="#calls">calls</a></li>
    </ul>
    <select name="period-select" id="select-interval">
        <option value="1">Daily</option>
        <option value="2">Weekly</option>
        <option value="3">Monthly</option>
    </select>
    <div class="tab-content">
        <div id="payments" class="tab-pane in active">
            <div class="visual-grid">
                <div class="visual-box">
                    <div class="visual-graph">
                        <h3>No of Payments Processed</h3>
                        <div class="graph-box">
                            <ngx-charts-bar-vertical-2d
                            [scheme]="colorScheme"
                            [results]="single"
                            [gradient]="gradient"
                            [xAxis]="showXAxis"
                            [yAxis]="showYAxis"
                            [legend]="showLegend"
                            [legendPosition]="legendPosition"
                            [groupPadding]="groupPadding"
                            [barPadding]="barPadding">
                            </ngx-charts-bar-vertical-2d>
                        </div>
                    </div>
                </div>
                <div class="visual-box">
                    <div class="visual-graph">
                        <h3>Amount of Payments Processed</h3>
                        <div class="graph-box">
                            Tab 1
                        </div>
                    </div>
                </div>
                <div class="visual-box">
                    <div class="visual-graph">
                        <h3>No of Payments Denied/Not Completed</h3>
                        <div class="graph-box">
                            Tab 1
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="calls" class="tab-pane fade">
            <div class="visual-grid">
                <div class="visual-box">
                    <div class="visual-graph">
                        <h3>No of Payments Processed</h3>
                        <div class="graph-box">
                            <ngx-charts-bar-vertical-2d
                            [scheme]="colorScheme"
                            [results]="single"
                            [gradient]="gradient"
                            [xAxis]="showXAxis"
                            [yAxis]="showYAxis"
                            [legend]="showLegend"
                            [legendPosition]="legendPosition"
                            [groupPadding]="groupPadding"
                            [barPadding]="barPadding">
                            </ngx-charts-bar-vertical-2d>
                        </div>
                    </div>
                </div>
                <div class="visual-box">
                    <div class="visual-graph">
                        <h3>Amount of Payments Processed</h3>
                        <div class="graph-box">
                            Tab 2
                        </div>
                    </div>
                </div>
                <div class="visual-box">
                    <div class="visual-graph">
                        <h3>No of Payments Denied/Not Completed</h3>
                        <div class="graph-box">
                            Tab 1
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>