<h2 class="logo">
    <img src="../../assets/logo.png" alt=""> Board of Water Supply
</h2>

<ul class="nav">
    <li [routerLinkActive]="['active-page']">
        <a [routerLink]="['home']">
            <img src="../../assets/navigation/home.svg" alt="">
            <span>Home</span>
        </a>
    </li>
    <li [routerLinkActive]="['active-page']">
        <a [routerLink]="['dashboard']">
            <img src="../../assets/navigation/chart.svg" alt="">
            <span>Dashboard</span>
        </a>
    </li>
    <li [routerLinkActive]="['active-page']">
        <a [routerLink]="['messages']">
            <img src="../../assets/navigation/email.svg" alt="">
            <span>View Messages</span>
        </a>
    </li>
    <li [routerLinkActive]="['active-page']">
        <a [routerLink]="['toggles']">
            <img src="../../assets/navigation/barcode.svg" alt="">
            <span>Toggles</span>
        </a>
    </li>
    <li [routerLinkActive]="['active-page']">
        <a [routerLink]="['search']">
            <img src="../../assets/navigation/search.svg" alt="">
            <span>Search</span>
        </a>
    </li>
    <li [routerLinkActive]="['active-page']">
        <a [routerLink]="['history']">
            <img src="../../assets/navigation/history.svg" alt="">
            <span>History</span>
        </a>
    </li>
    <!-- <li [routerLinkActive]="['active-page']">
        <a href="http://">
            <img src="../../assets/navigation/support.svg" alt="">
            <span>Help Center</span>
        </a>
    </li>
    <li [routerLinkActive]="['active-page']">
        <a href="http://">
            <img src="../../assets/navigation/settings.svg" alt="">
            <span>Settings</span>
        </a>
    </li> -->
</ul>