<h2 class="logo">
    <img src="../../assets/logo.png" alt=""> Board of Water Supply
</h2>

<ul class="nav">
    <li [routerLinkActive]="['active-page']">
        <a [routerLink]="['dashboard']">
            <img src="../../assets/navigation/chart.svg" alt="">
            <span>Dashboard</span>
        </a>
    </li>
    <li [routerLinkActive]="['active-page']">
        <a [routerLink]="['campaigntype']">
            <img src="../../assets/navigation/email.svg" alt="">
            <span>Campign type</span>
        </a>
    </li>
    <li [routerLinkActive]="['active-page']">
        <a [routerLink]="['arfile-upload']">
            <img src="../../assets/navigation/barcode.svg" alt="">
            <span>ARfile Upload</span>
        </a>
    </li>
    <li [routerLinkActive]="['active-page']">
        <a [routerLink]="['create-campaign']">
            <img src="../../assets/navigation/search.svg" alt="">
            <span>Create Campaign</span>
        </a>
    </li>
    <li [routerLinkActive]="['active-page']">
        <a [routerLink]="['settings']">
            <img src="../../assets/navigation/history.svg" alt="">
            <span>Settings</span>
        </a>
    </li>
    <!-- <li [routerLinkActive]="['active-page']">
        <a href="http://">
            <img src="../../assets/navigation/support.svg" alt="">
            <span>Help Center</span>
        </a>
    </li>
    <li [routerLinkActive]="['active-page']">
        <a href="http://">
            <img src="../../assets/navigation/settings.svg" alt="">
            <span>Settings</span>
        </a>
    </li> -->
</ul>

<p class="footer-text">Copyright © 2020, eIVR</p>