@import '../../scss/eivr-master';
::ng-deep {
    .app-toggle-content {
        h2 {
            @include ecs-typo($primary-font-regular, 400, 20px, 37px, $nutral-dark-color);
            padding: $null $default-padding*2;
            padding-bottom: $default-padding;
            margin: $null;
        }
        .serach-component {
            @include flexbox();
            @include flex-direction(row);
            @include justify-content(flex-start);
            @extend .box-panel;
            +div {
                margin-top: $default-margin*2;
            }
            form {
                @include align-self(center);
            }
            .search-method {
                @include flexbox();
                @include flex-direction(row);
                @include justify-content(flex-start);
                vertical-align: middle;
                p {
                    @include ecs-typo($primary-font-regular, 400, 14px, 14px, $dark);
                    margin-right: $default-margin;
                }
                label {
                    @include ecs-typo($primary-font-regular, 600, 14px, 14px, $dark);
                    margin-left: $default-margin;
                    margin-right: $default-margin;
                }
            }
        }
        .contactid-search {
            @include flexbox();
            @include flex-direction(row);
            @include flex-wrap(wrap);
            @include justify-content(flex-start);
            .tile {
                @include flex(0 0 $full/4);
                // margin-bottom: $default-margin*2;
                &.log {
                    @include flex(0 0 $full);
                    label {
                        margin-left: $default-margin*2;
                    }
                    .minhgt {
                        p {
                            @include ecs-typo($primary-font-regular, 400, 14px, 19px, $dark);
                        }
                        @include device(lg) {
                            max-height: $default-unit*100;
                            overflow-y: auto;
                            padding: $default-padding*2;
                            background-color: $nutral-light-color;
                            @include border-radius($default-padding);
                        }
                    }
                }
                label {
                    @include ecs-typo($primary-font-regular, 400, 14px, 14px, $dark);
                    position: relative;
                    margin-bottom: $default-margin*2;
                    margin-left: $default-margin*2;
                    &:before {
                        content: "";
                        width: $default-margin*2;
                        height: $default-unit*2.5;
                        display: block;
                        background-color: $primary-color;
                        position: absolute;
                        left: $null;
                        top: $full + 30;
                    }
                }
                h3 {
                    @include ecs-typo($primary-font-regular, 600, 14px, 14px, $dark);
                    margin-bottom: $default-margin*2;
                    margin-left: $default-margin*2;
                }
            }
        }
    }
}