@import '../../scss/eivr-master';
::ng-deep {
    .app-toggle-content {
        h2 {
            @include ecs-typo($primary-font-regular, 400, 20px, 30px, $nutral-dark-color);
            padding: $null $default-padding*2;
            padding-bottom: $default-padding;
            margin: $null;
        }
        .serach-component {
            @include flexbox();
            @include flex-direction(row);
            @include justify-content(flex-start);
            @extend .box-panel;
            +div {
                margin-top: $default-margin*2;
            }
            form {
                @include align-self(center);
            }
            .search-method {
                @include flexbox();
                @include flex-direction(row);
                @include justify-content(flex-start);
                vertical-align: middle;
                // margin-right: $default-margin*2;
                p {
                    @include ecs-typo($primary-font-regular, 400, 13px, 23px, $dark);
                    margin-right: $default-margin;
                    align-self: center;
                    text-transform: uppercase;
                }
                label {
                    @include ecs-typo($primary-font-regular, 600, 13px, 23px, $dark);
                    margin-left: $default-margin;
                    margin-right: $default-margin;
                }
                select {
                    @include border-radius(22px 0 0 22px);
                    width: inherit;
                }
            }
            .search-input {
                @include border-radius( 0px);
            }
        }
        .box-panel {
            table {
                tr {
                    th {
                        &:last-child {
                            width: $full/3.5 !important;
                        }
                    }
                    td {
                        &:last-child {
                            width: $full/3.5 !important;
                            padding-left: $null;
                        }
                    }
                }
            }
        }
    }
    .contactid-search {
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include justify-content(flex-start);
        .tile {
            @include flex(0 0 $full/4);
            // margin-bottom: $default-margin*2;
            &.log {
                @include flex(0 0 $full);
                label {
                    margin-left: $default-margin*2;
                }
                .minhgt {
                    p {
                        @include ecs-typo($primary-font-regular, 400, 14px, 24px, $dark);
                    }
                    ul {
                        li {
                            @include ecs-typo($primary-font-regular, 400, 14px, 24px, $dark);
                        }
                    }
                    @include device(lg) {
                        max-height: $default-unit*117;
                        overflow-y: auto;
                        padding: $default-padding*2;
                        background-color: $nutral-light-color;
                        @include border-radius($default-padding);
                    }
                    // @include device(xl) {
                    //     max-height: $default-unit*215;
                    // }
                    @include device(xxl) {
                        max-height: $default-unit*220;
                    }
                }
                .fas {
                    margin-left: $default-margin;
                    color: $primary-dark-color;
                }
            }
            label {
                @include ecs-typo($primary-font-regular, 400, 14px, 14px, $dark);
                position: relative;
                margin-bottom: $default-margin*2;
                margin-left: $default-margin*2;
                &:before {
                    content: "";
                    width: $default-margin*2;
                    height: $default-unit*2.5;
                    display: block;
                    background-color: $primary-color;
                    position: absolute;
                    left: $null;
                    top: $full + 30;
                }
            }
            h3 {
                @include ecs-typo($primary-font-regular, 600, 14px, 24px, $dark);
                margin-bottom: $default-margin*2;
                margin-left: $default-margin*2;
            }
        }
    }
    // .modal {
    .modal-header {
        .modal-title {
            @include ecs-typo($primary-font-regular, 400, 20px, 30px, $nutral-dark-color);
        }
    }
    .modal-body {
        .minhgt {
            @include device(lg) {
                max-height: $default-unit*235;
            }
            // @include device(xl) {
            //     max-height: $default-unit*215;
            // }
            @include device(xxl) {
                max-height: $default-unit*325;
            }
            ul {
                li {
                    @include ecs-typo($primary-font-regular, 400, 14px, 24px, $dark);
                }
            }
        }
        .contactid-search {
            .tile {
                @include flex(0 0 auto);
                margin-right: $default-margin*2.5;
                &.log {
                    @include flex(0 0 $full);
                    .minhgt {
                        @include device(lg) {
                            max-height: $default-unit*235;
                        }
                        // @include device(xl) {
                        //     max-height: $default-unit*215;
                        // }
                        @include device(xxl) {
                            max-height: $default-unit*325;
                        }
                        ul {
                            li {
                                @include ecs-typo($primary-font-regular, 400, 14px, 19px, $dark);
                            }
                        }
                    }
                }
            }
        }
    }
    // }
}