<div class="app-toggle-content">
    <h2>Search</h2>
    <div class="serach-component">
        <form action="/action_page.php">
            <div class="search-method">
                <p>Please select your search method:</p>
                <input type="radio" id="contactId" name="category" [checked]="true" value="contactId" (change)="onSearchByChange($event.target.value)">
                <label for="contactId">Contact Id</label>
                <input type="radio" id="phoneNumber" name="category" value="phoneNumber" (change)="onSearchByChange($event.target.value)">
                <label for="phoneNumber">Phone Number</label>
            </div>
        </form>
        <div class="eivr-search-box">
            <input type="text" [(ngModel)]="searchKey" class="search-input">
            <button type="button" class="search-btn" (click)="searchCallLog()">
                Search Call Log
            </button>
            <button (click)="clearSearch()" class="btn bg-transparent clear-btn"><i class="fa fa-times"></i>Clear</button>
        </div>

    </div>
    <div *ngIf="userLogInfo && userLogInfo != '' && this.searchBy == 'contactId'">
        <div class="box-panel contactid-search">
            <div class="tile">
                <label>Phone No</label>
                <h3>{{userLogInfo.phoneNo}}</h3>
            </div>
            <div class="tile">
                <label>Time Stamp</label>
                <h3 *ngIf="userLogInfo.timeStamp != null">{{userLogInfo.timeStamp}}</h3>
                <h3 *ngIf="userLogInfo.timeStamp == null">--</h3>
            </div>
            <div class="tile">
                <label>Account Found</label>
                <h3>{{userLogInfo.accountFound}}</h3>
            </div>
            <div class="tile">
                <label>Error</label>
                <h3>{{userLogInfo.callError}}</h3>
            </div>
            <div class="tile">
                <label>Send to CSR</label>
                <h3>{{userLogInfo.callCSR}}</h3>
            </div>
            <div class="tile">
                <label>Payment Started</label>
                <h3>{{userLogInfo.paymentStarted}}</h3>
            </div>
            <div class="tile">
                <label>Payment Success</label>
                <h3>{{userLogInfo.paymentSuccess}}</h3>
            </div>
            <div class="tile log">
                <label>Logs</label>
                <div class="minhgt">
                    <ul>
                        <li *ngFor="let logs of userLogInfo.logs">{{logs}}</li>
                    </ul>
                    <!-- <p>
                        {{userLogInfo.logs}}
                    </p> -->
                </div>

            </div>
        </div>

    </div>
    <div class="eivr-warning" *ngIf="userNotFound && searchStatusContactId">No user information found.!</div>
    <div class="box-panel" *ngIf="callArray && callArray.length > 0 && this.searchBy == 'phoneNumber'">
        <table>
            <thead>
                <tr>
                    <th>
                        Phone Number
                    </th>
                    <th>
                        Contact ID
                    </th>
                    <th>
                        Call Duration
                    </th>
                    <th>
                        Time Stamp
                    </th>
                    <th>
                        Call Health
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let call of callArray | slice : (currentPage-1) * pageSize : (currentPage-1) * pageSize + pageSize; let i = index">
                    <td data-label="Phone No">
                        {{call.phoneNo}}
                    </td>
                    <td data-label="Contact ID">
                        {{call.contactId}}
                    </td>
                    <td data-label="Call Duration">
                        {{call.callDuration}}
                    </td>
                    <td data-label="Time Stamp">
                        {{call.timeStamp}}
                    </td>
                    <td data-label="Call Health">
                        {{call.callHealth}}
                    </td>
                </tr>
            </tbody>
        </table>
        <ngb-pagination size="sm" [(page)]="currentPage" [pageSize]="pageSize" [collectionSize]="callArray.length" [maxSize]="5"></ngb-pagination>
    </div>
    <div class="eivr-warning" *ngIf="callArray.length == 0 && searchStatusPhoneNumber && this.searchBy == 'phoneNumber'">
        <span>No Log found.!</span>
    </div>
</div>