<div class="modal-header">
    <h4 class="modal-title">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form action="" #createToggleForm="ngForm">
        <section>
            <input type="text" name="toggleKey" id="toggleKey" required #toggleKey="ngModel" ngModel placeholder="Toggle Name">
            <div class="alert alert-danger" *ngIf="toggleKey.touched && toggleKey.invalid">
                <div *ngIf="toggleKey.errors.required"> This field cannot be empty</div>
            </div>
        </section>
        <section>
            <input type="text" name="toggleValue" id="toggleValue" required #toggleValue="ngModel" ngModel placeholder="Toggle Value">
            <div class="alert alert-danger" *ngIf="toggleValue.touched && toggleValue.invalid">
                <div *ngIf="toggleValue.errors.required"> This field cannot be empty</div>
            </div>
        </section>
    </form>
</div>
<div class="modal-footer">
    <input type="button" value="Create" [disabled]="createToggleForm.invalid" (click)="createToggle(createToggleForm.value)">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>
