@import '../../scss/eivr-master';
::ng-deep {
    app-home {
        height: $full;
    }
    .banner-bg {
        // height: calc(#{$full} - 80px);
        height: $full;
        .img-ratio {
            @include device(lg) {
                @include aspect-ratio(1.78, 1);
                height: $full;
            }
            @include device(xxl) {
                @include aspect-ratio(16, 9);
            }
            .img-src {
                background-size: cover;
                @include device(lg) {
                    background-position: bottom center;
                }
            }
        }
    }
}