table {
    width: $full;
    margin-bottom: $default-margin*2;
    thead {
        tr {
            background-color: $nutral-light-color;
            th {
                @include ecs-typo($primary-font-regular, 600, 15px, 17px, $nutral-dark-color);
                padding: $default-padding*2;
            }
        }
    }
    tbody {
        tr {
            td {
                @include ecs-typo($primary-font-regular, 400, 15px, 17px, $nutral-dark-color);
                padding: $default-padding $default-padding*2;
                border-bottom: thin solid $nutral-light-color;
                button {
                    margin-right: $default-margin;
                    &:last-child {
                        margin-right: $null;
                    }
                }
            }
        }
    }
}