table {
    width: $full;
    margin-bottom: $default-margin*2;
    display: block;
    tr {
        width: 100%;
        @include flexbox();
        th {
            @include flex(2 2 $full);
            display: block;
            word-break: break-all;
            &:first-child {
                @include flex(2 2 $full/5);
            }
            &:last-child {
                @include flex(2 2 $full/10);
            }
        }
        td {
            @include flex(2 2 $full);
            display: block;
            word-break: break-all;
            &:first-child {
                @include flex(2 2 $full/5);
            }
            &:last-child {
                @include flex(2 2 $full/10);
                @include flexbox();
                @include flex-direction(row);
                @include justify-content(flex-start);
            }
        }
    }
    thead {
        display: block;
        width: $full;
        tr {
            background-color: $nutral-light-color;
            border-bottom: thin solid darken($nutral-light-color, 10%);
            margin-bottom: $default-margin*2;
            padding-right: $default-padding*2;
            th {
                @include ecs-typo($primary-font-regular, 400, 15px, 17px, $nutral-dark-color);
                padding: $default-padding*2 $default-padding*2;
                white-space: nowrap;
                &::after {
                    content: '';
                    display: table;
                    width: $default-unit*25;
                    height: $default-unit*3;
                    background-color: $primary-color;
                    margin-top: $default-margin;
                }
            }
        }
    }
    tbody {
        display: block;
        width: $full;
        overflow-y: auto;
        max-height: $default-unit*109;
        @include device(mmh) {
            max-height: $default-unit*280;
        }
        tr {
            td {
                @include ecs-typo($primary-font-regular, 400, 15px, 17px, $nutral-dark-color);
                padding: $default-padding $default-padding*2;
                border-bottom: thin solid $nutral-light-color;
                button {
                    margin-right: $default-margin;
                    &:last-child {
                        margin-right: $null;
                    }
                }
            }
        }
    }
}